/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2016, 2:45:10 PM
    Author     : Llewellyn
*/

.page__background {
    background-color: #000000;
    background-image: url(../images/Black-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.app-logo {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.app-logo img{
    filter: drop-shadow(2px 0px 0px #fff) drop-shadow(-2px 0px 0px #fff) drop-shadow(0px 2px 0px #fff) drop-shadow(0px -2px 0px #fff);
}

.app-logo-sml {
    text-align: center;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.app-logo-sml img{
    filter: drop-shadow(1px 0px 0px #fff) drop-shadow(-1px 0px 0px #fff) drop-shadow(0px 1px 0px #fff) drop-shadow(0px -1px 0px #fff);
}

.forntPageBut {
    background-color: #0b72af;
    color: #fff;
    box-shadow: 0 5px 10px -6px black;
    border-right: 5px #ed7924 solid;
    border-radius: 0px;
    font-weight: bold;
}

.djPageBut {
    background-color: #0b72af;
    color: #fff;
    box-shadow: 0 5px 10px -6px black;
    border-right: 5px #ed7924 solid;
    border-radius: 0px;
    font-weight: bold;
	font-size: 14px !important;
}

.contactIcn {
    border-color: #ed7924;
    background-color: #ed7924;
    height:50px;
    width:50px;
    line-height:50px;
    color:#ffffff;
    font-size:25px;
    border-radius:50%;
}

.plan-list {
  border-top: none;
  background-image: none !important;
  margin: 10px;
  border-radius: 10px;
}

.plan {
  line-height: 1;
  padding: 0;
}

.plan-left {
  text-align: right;
  padding: 10px 10px 10px 0;
}

.plan-center {
  background-color: #3399ff;
  opacity: 0.5;
}

.plan-right {
  padding: 10px 40px 10px 10px;
}

.plan-date {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 4px;
  font-weight: 500;
}

.plan-duration {
  font-size: 11px;
  opacity: 0.4;
}

.plan-name {
  font-size: 17px;
  margin-bottom: 8px;
}

.plan-info {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.4;
}

.contact-info {
    background-color: #eeeeee;
}

.contact-info {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.contact-info img{
    width: 100%;
    max-width: 300px;
}
.contact-info p{
    border-left: 4px solid #ED275B;
    margin: -5px 0 10px 0;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    height: 50px;
    vertical-align: middle;
}

.credits {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.player-container {
    text-align: center;
}

#volume {
    width: 70%;
    margin: 50px auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.pp-card {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin: auto;
	background: rgb(178,178,178);
	background: -moz-radial-gradient(center, ellipse cover, rgba(178,178,178,1) 2%, rgba(255,255,255,1) 60%, rgba(163,163,163,1) 64%, rgba(255,255,255,1) 67%, rgba(5,5,5,1) 69%, rgba(255,255,255,0) 72%, rgba(0,0,0,0) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(178,178,178,1) 2%,rgba(255,255,255,1) 60%,rgba(163,163,163,1) 64%,rgba(255,255,255,1) 67%,rgba(5,5,5,1) 69%,rgba(255,255,255,0) 72%,rgba(0,0,0,0) 100%);
	background: radial-gradient(ellipse at center, rgba(178,178,178,1) 2%,rgba(255,255,255,1) 60%,rgba(163,163,163,1) 64%,rgba(255,255,255,1) 67%,rgba(5,5,5,1) 69%,rgba(255,255,255,0) 72%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#ffffff',GradientType=1 );
}

.pp-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.play-but {
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
}

.play-but img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.pause-but {
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
}

.pause-but img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.pp-control.inactive, .pp-control.active {
	-webkit-transition:.75s ease-in-out;
	-moz-transition:.75s ease-in-out;
	-o-transition:.75s ease-in-out;
	transition:.75s ease-in-out;
}

.pp-control.inactive {
    display: none !important;
}

/*  Range slider */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #ed7924;
  cursor: pointer;
  border-radius: 100%;
  margin-top: -8px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #ed7924;
  cursor: pointer;
  border-radius: 100%;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #ed7924;
  cursor: pointer;
  border-radius: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #000000, 0px 0px 2px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ed7924;
}

.dj-inner {
    margin-bottom: 15px;
}

.dj-card .dj-name {
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    font-size: 18px;
}

.dj-card:nth-child(5n+1) .dj-name {
    background-color: #e65540;
}

.dj-card:nth-child(5n+2) .dj-name {
    background-color: #ef7d00;
}

.dj-card:nth-child(5n+3) .dj-name {
    background-color: #c8ac00;
}

.dj-card:nth-child(5n+4) .dj-name {
    background-color: #66a8a6;
}

.dj-card:nth-child(5n+5) .dj-name {
    background-color: #79896e;
}

.dj-img {
	text-align: center;
}

.dj-img > img {
	max-width: 100%;
	height: auto;
}

.alert-dialog.ng-scope {
    width: 100% !important;
}
.alert-dialog-content {
    text-align: left !important;
}